body{
    background-color: #E8F0F2;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    color: black;
    position: relative;
}
h1, h2, h3, h4, h5{
    font-family: 'Montserrat-bold',sans-serif;
}
a{
    color: #fff;
}
.blue-section{
    background-color: #053742;
}
.pink-section{
    background-color: #E8F0F2;
}
.topcontainer-fluid{
   padding: 5% 15%;
}
.servicecontainer-fluid{
   padding: 4%;
}
.container-fluid{
   padding: 5% 10%;
}
/* nav bar */
#top-section{
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}
.navbar{
    padding: 0 0 1.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    color: #E8F0F2;
}

.nav-item{
    padding: 0 18px;
    color:  #E8F0F2;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light', sans-serif;
}

.card{
    border-color: #99DDCC;
}

/* title image */
.title-image {
    margin:auto;
    width: 50%;
    padding: 0%;
    margin-right: 25% ;
    /* right: 30%; */
}

.big-heading {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
    color: #E8F0F2;
}

/* about me section */
.aboutme-title{
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.aboutme-text{
    font-size: 1.5rem;
    line-height: 2rem;
}

.aboutme-image{
    width: 65%;
}

.ribbon{
    position: relative;
}
/* 
services section */
.skyblue{
    background-color: #053742;
}

.container__wrapper {
    /* Displayed at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Size */
    height: 100px;
    width: 100px;

    /* Hide the part of its children which is displayed outside */
    overflow: hidden;
}

.container__ribbon {
    /* Position */
    left: -64px;
    position: absolute;
    top: 32px;

    /* Size */
    height: 24px;
    width: 206px;

    /* Displayed diagonally */
    transform: rotate(-45deg);

    /* Background color */
    background-color: #A2DBFA;

    /* Centerize the text content */
    text-align: center;
}
/* SERVICE SECTION */
#services-section{
    border-color: #A2DBFA;
}
.service-title{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
    color: #ffff;
}
.services-image{
    width: 30%;
    margin-bottom: 25px;
}
.services-button{
    margin-bottom: 30px;
}
.services-box{
    padding: 3%;
    background-color: #39A2DB;
}
.btn-primary{
    /* color: #053742; */
    background-color: #053742;
    border-color: #ffff;
}
.btn-primary:hover{
    background-color: black;
   
}
.card{
    border-color: #A2DBFA;
    margin-bottom: 5%;
}
.card-color{
    background-color: #E8F0F2;
}
.card-img-top{
    width: 40%;
    margin: auto;
    padding-top: 5%;
    color: #fff;
}
.col-md-4{
    text-align: center;
}
/* FOOTER SECTION */

.copyRight{
    text-align: center;
    color: #1572A1;
}
/* footer section */
.footer-icon{
    color: black;
    margin: 20px 10px;
    text-align: center;
}

/* BREAK OUT SECTION */
@media (max-width: 990px){
    #title{
        text-align: center;
    }
    
    .big-heading{
        text-align: center;
    }

    .title-image {
    margin:20px auto;
    width: 80%;
    text-align: center;
    align-content: center;
    /* right: 30%; */
    }

    #topBar{
        text-align: center;
    }

    .aboutme-title{
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
    }

    .aboutme-text{
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 20px;
    }

    .aboutme-image{
        width: 70%;
        margin-bottom: 35px;
    }
}